<h1>Calculator</h1>
<p>Welcome to Calorieats</p>

<%= form_tag url: calculator_recommendation_path do %>
  <%= label :user, :height, 'Height(cm)', class: 'col-form-label' %>
  <%= number_field :user, :height, :value => @user.height, min:0, max:300, class: 'form-control'%><br>
  <%= label :user, :weight, 'Weight(kg)', class: 'col-form-label' %>
  <%= number_field :user, :weight, :value => @user.weight, min:0, max:500, class: 'form-control' %><br>
  <%= label :user, :age, 'Age', class: 'col-form-label' %>
  <%= number_field :user, :age, :value => @user.age, min:0, max:200, class: 'form-control' %><br>

  <%= label :user, :gender, 'Sex', class: 'col-form-label' %><br>
  <input type="radio" id="female" name="gender" value="Female" <%= @gender==="Female" ? "checked" : "" %> >
  <label for="female">Female</label>
  <input type="radio" id="male" name="gender" value="Male" <%= @gender==="Male" ? "checked" : "" %>>
  <label for="male">Male</label><br><br>

  <%= label :user, :sports_level, 'Sports Level', class: 'col-form-label' %><br>
  <input type="radio" id="seldom" name="sports_level" value="Seldom" <%= @sports_level==="Seldom" ? "checked" : "" %>>
  <label for="seldom">Seldom (0-1 days/week)</label>
  <input type="radio" id="slight" name="sports_level" value="Slight" <%= @sports_level==="Slight" ? "checked" : "" %>>
  <label for="slight">Slight (1-3 days/week)</label>
  <input type="radio" id="medium" name="sports_level" value="Medium" <%= @sports_level==="Medium" ? "checked" : "" %>>
  <label for="medium">Medium (4-5 days/week)</label>
  <input type="radio" id="active" name="sports_level" value="Active" <%= @sports_level==="Active" ? "checked" : "" %>>
  <label for="active">Active (6-7 days/week)</label><br><br>

  <%= button_tag "Reset", type: :reset, class: 'btn btn-secondary'%>
  <%= submit_tag "Calculate", class: 'btn btn-primary'%>
<% end %>
